
/* line 5, ../../app/stylesheets/application.sass */
textarea {
  width: auto;
  height: auto; }


/* line 10, ../../app/stylesheets/application.sass */
.left {
  float: left; }

/* line 13, ../../app/stylesheets/application.sass */
.right {
  float: right; }

/* line 16, ../../app/stylesheets/application.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 21, ../../app/stylesheets/application.sass */
  body.bp .container {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.bp .container {
      display: block; }

/* line 25, ../../app/stylesheets/application.sass */
#header a {
  color: #ffdd00; }
  /* line 28, ../../app/stylesheets/application.sass */
  #header a:visited {
    color: #ffaa00; }

/* line 31, ../../app/stylesheets/application.sass */
#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-color: #1144aa; }
  /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #header {
    overflow-x: hidden; }
  /* line 35, ../../app/stylesheets/application.sass */
  #header .top-bar {
    height: 30px;
    font-size: 1.1em;
    padding: 0 20px;
    color: white;
    background-color: #001177; }
    /* line 42, ../../app/stylesheets/application.sass */
    #header .top-bar .left, #header .top-bar .right {
      line-height: 30px; }
    /* line 44, ../../app/stylesheets/application.sass */
    #header .top-bar .left {
      float: left;
      font: bold 20px Verdana; }
      /* line 48, ../../app/stylesheets/application.sass */
      #header .top-bar .left a {
        text-decoration: none;
        color: white; }
    /* line 52, ../../app/stylesheets/application.sass */
    #header .top-bar .right {
      text-align: right;
      float: none; }
  /* line 56, ../../app/stylesheets/application.sass */
  #header .logo {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 190px;
    float: left; }
    /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #header .logo {
      overflow-x: hidden; }
  /* line 60, ../../app/stylesheets/application.sass */
  #header .navigation {
    display: inline;
    float: left;
    margin-right: 0;
    width: 950px;
    float: left; }
    /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #header .navigation {
      overflow-x: hidden; }
    /* line 63, ../../app/stylesheets/application.sass */
    #header .navigation ul {
      float: left;
      display: inline;
      text-align: left;
      list-style: none;
      margin: 0; }
    /* line 69, ../../app/stylesheets/application.sass */
    #header .navigation ul li {
      float: left;
      line-height: 30px;
      padding: 0 10px; }
      /* line 74, ../../app/stylesheets/application.sass */
      #header .navigation ul li:hover {
        background-color: #001177; }
      /* line 77, ../../app/stylesheets/application.sass */
      #header .navigation ul li a {
        font-weight: bold; }
      /* line 80, ../../app/stylesheets/application.sass */
      #header .navigation ul li a:visited {
        color: #ffdd00; }

/* line 83, ../../app/stylesheets/application.sass */
form.general {
  padding: 5px;
  background: #efefef;
  border: 1px solid #e5e5e5; }
  /* line 88, ../../app/stylesheets/application.sass */
  form.general ol {
    list-style: none;
    margin: 1em; }
  /* line 92, ../../app/stylesheets/application.sass */
  form.general li {
    clear: left; }
    /* line 94, ../../app/stylesheets/application.sass */
    form.general li input {
      margin: 0.1em 0 !important; }
      /* line 96, ../../app/stylesheets/application.sass */
      form.general li input[type="checkbox"] {
        margin: 0.75em 0 0 0 !important; }
    /* line 99, ../../app/stylesheets/application.sass */
    form.general li .fieldWithErrors {
      display: inline; }
  /* line 102, ../../app/stylesheets/application.sass */
  form.general .indented {
    padding-left: 120px;
    margin: 0.5em 0;
    margin-left: -10px; }
    /* line 106, ../../app/stylesheets/application.sass */
    form.general .indented input {
      padding: 3px 10px;
      background: #151515;
      border: 1px solid #000;
      color: #FFF;
      float: left;
      cursor: pointer; }
  /* line 114, ../../app/stylesheets/application.sass */
  form.general label, form.general .label {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 110px;
    font-size: 1.2em;
    margin: 0.5em 0;
    float: left; }
    /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html form.general label, * html form.general .label {
      overflow-x: hidden; }
  /* line 120, ../../app/stylesheets/application.sass */
  form.general .label {
    margin: 0;
    font-weight: bold; }
  /* line 124, ../../app/stylesheets/application.sass */
  form.general .title {
    font-size: 1.2em; }

/* line 127, ../../app/stylesheets/application.sass */
.display-table {
  font-size: 1.2em; }
  /* line 130, ../../app/stylesheets/application.sass */
  .display-table .section-header {
    clear: both;
    width: 100%;
    padding: 3px;
    background-color: #efefef;
    font-weight: bold; }
  /* line 137, ../../app/stylesheets/application.sass */
  .display-table .left-col {
    margin-right: 15px;
    float: left;
    clear: left;
    overflow: hidden; }
  /* line 143, ../../app/stylesheets/application.sass */
  .display-table .right-col {
    float: left;
    overflow: hidden; }
  /* line 147, ../../app/stylesheets/application.sass */
  .display-table .separator {
    height: 0.6em;
    clear: both; }

/* line 152, ../../app/stylesheets/application.sass */
#breadcrumbs {
  padding: 10px;
  font-size: 18px; }

/* line 159, ../../app/stylesheets/application.sass */
form.bp .error h2 {
  font-size: 1.3em; }
/* line 161, ../../app/stylesheets/application.sass */
form.bp .error p, form.bp .error ul {
  margin-bottom: 0.5em; }
/* line 164, ../../app/stylesheets/application.sass */
form.bp select.title {
  font-size: 1.5em; }

/* line 168, ../../app/stylesheets/application.sass */
#footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  height: 100px;
  background-color: #5588ee;
  margin-top: 20px; }
  /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #footer {
    overflow-x: hidden; }
