
/* line 5, ../../app/stylesheets/application.sass */
textarea {
  width: auto;
  height: auto; }




/* line 15, ../../app/stylesheets/application.sass */
.left {
  float: left; }

/* line 18, ../../app/stylesheets/application.sass */
.right {
  float: right; }

/* line 21, ../../app/stylesheets/application.sass */
body.bp {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }
  /* line 26, ../../app/stylesheets/application.sass */
  body.bp .container {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block; }
    /* line 5, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body.bp .container {
      display: block; }

/* line 30, ../../app/stylesheets/application.sass */
#header a {
  color: #ffdd00; }
  /* line 33, ../../app/stylesheets/application.sass */
  #header a:visited {
    color: #ffaa00; }

/* line 36, ../../app/stylesheets/application.sass */
#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background-color: #1144aa;
  margin-bottom: 10px; }
  /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #header {
    overflow-x: hidden; }
  /* line 41, ../../app/stylesheets/application.sass */
  #header .top-bar {
    height: 40px;
    font-size: 1.1em;
    padding: 0 20px;
    color: white;
    background-color: #001177; }
    /* line 48, ../../app/stylesheets/application.sass */
    #header .top-bar .left, #header .top-bar .right {
      line-height: 30px; }
    /* line 50, ../../app/stylesheets/application.sass */
    #header .top-bar .left {
      float: left;
      font: bold 20px Verdana; }
      /* line 54, ../../app/stylesheets/application.sass */
      #header .top-bar .left a {
        text-decoration: none;
        color: white; }
    /* line 58, ../../app/stylesheets/application.sass */
    #header .top-bar .right {
      text-align: right;
      float: none; }
  /* line 62, ../../app/stylesheets/application.sass */
  #header .logo {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 190px;
    float: left; }
    /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #header .logo {
      overflow-x: hidden; }
  /* line 66, ../../app/stylesheets/application.sass */
  #header .navigation {
    display: inline;
    float: left;
    margin-right: 0;
    width: 950px;
    float: left;
    background-color: #1144aa;
    height: 30px; }
    /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html #header .navigation {
      overflow-x: hidden; }
    /* line 72, ../../app/stylesheets/application.sass */
    #header .navigation ul {
      float: left;
      text-align: left;
      list-style: none;
      margin: 0; }
    /* line 78, ../../app/stylesheets/application.sass */
    #header .navigation ul li {
      float: left;
      line-height: 30px;
      padding: 0 10px;
      border-bottom: 4px solid white;
      background-color: #1144aa; }
      /* line 85, ../../app/stylesheets/application.sass */
      #header .navigation ul li.current {
        background-color: #001177;
        border-bottom: 4px solid #001177; }
      /* line 89, ../../app/stylesheets/application.sass */
      #header .navigation ul li:hover {
        background-color: #001177;
        cursor: pointer; }
      /* line 93, ../../app/stylesheets/application.sass */
      #header .navigation ul li a {
        font-weight: bold;
        text-decoration: none; }
      /* line 97, ../../app/stylesheets/application.sass */
      #header .navigation ul li a:visited {
        color: #ffdd00; }

/* line 100, ../../app/stylesheets/application.sass */
form.general {
  padding: 5px;
  background: #efefef;
  border: 1px solid #e5e5e5; }
  /* line 105, ../../app/stylesheets/application.sass */
  form.general ol {
    list-style: none;
    margin: 1em; }
  /* line 109, ../../app/stylesheets/application.sass */
  form.general li {
    clear: left; }
    /* line 111, ../../app/stylesheets/application.sass */
    form.general li input {
      margin: 0.1em 0 !important; }
      /* line 113, ../../app/stylesheets/application.sass */
      form.general li input[type="checkbox"] {
        margin: 0.75em 0 0 0 !important; }
    /* line 116, ../../app/stylesheets/application.sass */
    form.general li .fieldWithErrors {
      display: inline; }
  /* line 119, ../../app/stylesheets/application.sass */
  form.general .indented {
    padding-left: 120px;
    margin: 0.5em 0;
    margin-left: -10px; }
    /* line 123, ../../app/stylesheets/application.sass */
    form.general .indented input {
      padding: 3px 10px;
      background: #151515;
      border: 1px solid #000;
      color: #FFF;
      float: left;
      cursor: pointer; }
  /* line 131, ../../app/stylesheets/application.sass */
  form.general label, form.general .label {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 110px;
    font-size: 1.2em;
    margin: 0.5em 0;
    float: left; }
    /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
    * html form.general label, * html form.general .label {
      overflow-x: hidden; }
  /* line 137, ../../app/stylesheets/application.sass */
  form.general .label {
    margin: 0;
    font-weight: bold; }
  /* line 141, ../../app/stylesheets/application.sass */
  form.general .title {
    font-size: 1.2em; }

/* line 144, ../../app/stylesheets/application.sass */
.display-table {
  font-size: 1.2em; }
  /* line 147, ../../app/stylesheets/application.sass */
  .display-table .section-header {
    clear: both;
    width: 100%;
    padding: 3px;
    background-color: #efefef;
    font-weight: bold; }
  /* line 154, ../../app/stylesheets/application.sass */
  .display-table .left-col {
    margin-right: 15px;
    float: left;
    clear: left;
    overflow: hidden; }
  /* line 160, ../../app/stylesheets/application.sass */
  .display-table .right-col {
    float: left;
    overflow: hidden; }
  /* line 164, ../../app/stylesheets/application.sass */
  .display-table .separator {
    height: 0.6em;
    clear: both; }

/* line 169, ../../app/stylesheets/application.sass */
#breadcrumbs {
  padding: 10px;
  font-size: 18px; }

/* line 176, ../../app/stylesheets/application.sass */
form.bp .error h2 {
  font-size: 1.3em; }
/* line 178, ../../app/stylesheets/application.sass */
form.bp .error p, form.bp .error ul {
  margin-bottom: 0.5em; }
/* line 181, ../../app/stylesheets/application.sass */
form.bp select.title {
  font-size: 1.5em; }

/* line 186, ../../app/stylesheets/application.sass */
.recent.sites .active-scaffold {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  padding-left: 40px; }
  /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .recent.sites .active-scaffold {
    overflow-x: hidden; }
/* line 189, ../../app/stylesheets/application.sass */
.recent .active-scaffold {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px; }
  /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html .recent .active-scaffold {
    overflow-x: hidden; }

/* line 193, ../../app/stylesheets/application.sass */
#footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  height: 30px;
  background-color: #1144aa;
  margin-top: 20px;
  line-height: 30px;
  color: white; }
  /* line 101, ../../vendor/gems/chriseppstein-compass-0.8.16/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
  * html #footer {
    overflow-x: hidden; }
  /* line 201, ../../app/stylesheets/application.sass */
  #footer .content {
    padding: 0 30px; }
